body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

video {
    width: 300px;
    margin-top: 20px;
}

#captionBox {
    position: relative;
    margin-top: -60px;
    font-size: 22px;
    font-weight: bold;
}
